.main {
  flex: 1 0 auto;
  padding: 70px 0 20px;

  &__refresh {
    animation: refresh 1s linear infinite;
  }
}

@keyframes refresh {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}