// Colorbox Core Style:
// The following CSS is consistent between example themes and should not be altered.
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .panel {
    margin: 0;
  }

  .panel-heading {
    padding-right: 40px;
  }

  ol {
    padding-left: 0;
  }

  li {
    margin: 0 0 10px 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}

// User Style:
// Change the following styles to modify the appearance of Colorbox.  They are
// ordered & tabbed in a way that represents the nesting of the generated HTML.
#cboxOverlay {
  background: #000;
  opacity: 0.8;
}

#colorbox {
  outline: 0;
}

#cboxContent {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

#cboxLoadingOverlay {
  background: #fff;
}

#cboxLoadingGraphic {
  background: url(../images/loading.gif) no-repeat center center;
}

// these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;

  // avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating)
  &:active,
  &:active,
  &:active,
  &:active {
    outline: 0;
  }
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/libs/colorbox/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;

  &:hover {
    background-position: -75px -25px;
  }
}

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../images/libs/colorbox/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;

  &:hover {
    background-position: -50px -25px;
  }
}

#cboxClose {
  position: absolute;
  top: 9px;
  right: 10px;
  background: url(../images/libs/colorbox/controls.png) no-repeat -27px -2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  text-indent: -9999px;

  &:hover {
    background-position: -27px -27px;
  }
}
